.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-select {
  padding: 15px;
}

.mat-select.gallery-sections {
  display: none;
}

.gallery-is-active + .mat-select {
  display: inline-block;
}
