<form novalidate [formGroup]="treeForm" *ngIf="userid > 0">

  <div class="form-field-container">

    <div class="form-field-legend">Personal details</div>

    <div class="form-field-text">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" value="" formControlName="name" required>
      </mat-form-field><br />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        First name is required and must be less than {{maxNameLength}} characters
      </div><br />

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Image Title" value="" formControlName="title" required>
      </mat-form-field><br />
      <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
        Image title is required and must be less than {{maxTitleLength}} characters
      </div><br />

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Image Description" formControlName="description"></textarea>
      </mat-form-field><br />

    </div>

  </div>

  <div class="form-field-container">

    <div class="form-field-legend" *ngIf="!isMobile">Please choose a category for your image</div>
    <div class="form-field-legend" *ngIf="isMobile">Please choose a category</div>

    <div class="form-field-text">

      <div [hidden]="!hasError" class="alert alert-danger" [innerHtml]="safeHtml">
      </div>
      
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <!-- {{node.item}} -->
          <a (click)="addPath($event,node.item)">{{node.item | pathFormat}}</a>
          <mat-icon class="mat-icon-rtl-mirror grade" [attr.id]="'directory-' + (node.item | pathFormat)">
            {{directorySelected == node.item ? 'grade' : ''}}
          </mat-icon>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <button mat-icon-button
                  [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.item | pathFormat}}
          <mat-progress-bar *ngIf="node.isLoading"
                            mode="indeterminate"
                            class="tree-progress-bar"></mat-progress-bar>
        </mat-tree-node>
      </mat-tree>

      <div class="uploaded-image-container" #uploadedImageContainer></div>

      <div style="clear:both;"></div>

    </div>

  </div>

</form>

<app-upload *ngIf="userid > 0"></app-upload>

<form novalidate [formGroup]="signUpForm" *ngIf="userid == 0 && signUpValidated == 0">

  <div class="form-field-container">

    <div class="form-field-legend">Sign up</div>

    <div class="form-field-text">



      <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" value="" formControlName="forename" required>
      </mat-form-field><br />
      <div [hidden]="forename.valid || forename.pristine" class="alert alert-danger">
        First name is required
      </div><br />

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" value="" formControlName="surname" required>
      </mat-form-field><br />
      <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">
        Last name is required
      </div><br />

      <mat-form-field class="example-full-width">
        <input matInput placeholder="E-mail" value="" formControlName="email" type="email" required>
      </mat-form-field><br />
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        E-mail is required
      </div><br />

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" value="" formControlName="password" type="password" required>
      </mat-form-field><br />
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is required
      </div><br />

      <button mat-raised-button (click)="signUpFormSubmit()" [disabled]="!isSignUpValid">Submit</button>

    </div>

  </div>

</form>

<form novalidate [formGroup]="loginForm" *ngIf="userid == 0 && signUpValidated == 1">

  <div class="form-field-container">

    <div class="form-field-legend">Login</div>

    <div class="form-field-text">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="E-mail" value="" formControlName="email" type="email" required>
      </mat-form-field><br />
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        E-mail is required
      </div><br />

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" value="" formControlName="password" type="password" required>
      </mat-form-field><br />
      <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
        Password is required
      </div><br />

      <button mat-raised-button (click)="loginFormSubmit()" [disabled]="!isLoginValid">Submit</button>

    </div>

  </div>

</form>

<div class="form-field-container">

  <div class="form-field-text" *ngIf="signUpResponseDo">
    Please check your e-mail to validate your sign up
  </div>

</div>


