/* You can add global styles to this file, and also import other style files */

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~angular2-lightbox/lightbox.css';
@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/default/default-theme.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

body.first-page {
    overflow: hidden !important;
    height: 100% !important;
}

body.first-page mat-sidenav-container {
    overflow: hidden !important;
    height: initial !important;
}

body.first-page mat-sidenav-content {
    overflow: auto !important;
    height: initial !important;
}

body.first-page app-my-nav {
    overflow: hidden !important; 
}



.basic-container {
    padding: 30px;
}

.mat-toolbar.mat-primary {
    z-index: 1;
}

.mat-dialog-actions {
    padding-bottom: 39px !important;
}

