<!-- <div id="light-gallery-images"> -->
<div class="infinite-scroller" id="infinite-scroller" #infiniteScrollerContainer infiniteScroller scrollPerecnt="70" immediateCallback="true" [scrollCallback]="scrollCallback">
    <!-- <app-image *ngFor="let image of subjectImages | async" [image]="image" infiniteScroller scrollPerecnt="70" immediateCallback="true" [scrollCallback]="scrollCallback"></app-image> -->
    <app-image *ngFor="let image of images" [image]="image"></app-image>
</div>
<!-- </div> -->